@page "/"
@attribute [AllowAnonymous]

<PageTitle>Blazor School code sample</PageTitle>
<h1>Welcome to Blazor School!</h1>

Demonstrate how to use AuthorizeView to do authentication and authorization in Blazor WebAssembly .NET 6. - Blazor School
<br />
If you are looking for more Blazor WebAssembly tutorials, please go to <a href="https://blazorschool.com" target="_blank">Blazor School</a>.