@page "/logout"
@using AuthorizeOnRoute.Utils
@inject BlazorSchoolAuthenticationStateProvider BlazorSchoolAuthenticationStateProvider

<h3>Logout</h3>
<button class="btn btn-primary" @onclick="BlazorSchoolAuthenticationStateProvider.Logout">Logout</button>
