@page "/authentication-result"

<AuthorizeView>
    <Authorized><div>Authorized</div></Authorized>
    <Authorizing><div>Loading...</div></Authorizing>
    <NotAuthorized><div>Not Authorized</div></NotAuthorized>
</AuthorizeView>